<div class="side-nav">
    <a href="">
        <img src="../assets/images/icon_logo.png" alt="Logo" class="logo mb-50px">
    </a>
    
    <button type="button" class="btn-icon btn-icon-toggle toggle-position" (click)="toggleSideNav()"></button>
    
    <ul class="side-nav-menu">
        <li class="active">
            <a routerLink="/resturant" class="home">Home</a>
        </li>
        <li>
            <a href="#" class="orders">Orders</a>
        </li>
        <li>
            <a href="#" class="notifications">Notification <span class="number-badge fl-right">2</span></a>
        </li>
        <li>
            <a href="#" class="help">Help & Support</a>
        </li>
        <li>
            <a href="#" class="settings">Settings</a>
        </li>
    </ul>
</div>